1.What are data structures, and why are they important

Data Structure in python are variable or containers used to store data efficiently
and organize it.

Data structures are important because

Data Handling

organiztion of data

Storage Management

flexability

custom data structures

Built in tools

real world analogy

2Explain the difference between mutable and immutable data types with examples

Mutable Data types are the data types in which we can change the values once it is created
and we can use the operations to insert ,append
etc.They have lower memory efficiency and slower to use.

example of mutable data tyopes are -- Lists,Sets,Dictionary

Immutable Data types are the data types in which we can  not  change the values after it is created.They are higher memory efficient and faster to use.

example of immutable data types are
Tuples ,Strings , Frozenset

3.What are the main differences between lists and tuples in Python3

**Lists**

*   Lists are mutable.

*   In list we can perform operations like and or remove

*   In list values are given in square bracket[]

*   Lists are less memory efficient


---

**Tuples**


*   Tuples are Immutable

*   Tuples are more memory efficient

*   Tuples store values in parentheses

*   In Tuples we can perform only few operations

Describe how dictionaries store data

A dictionary stores data in python in key value pairs.
the keys are the different elements in a  dictionary which hold their particular value.

We can apply various operations in a dictionary to keys in order to get the things done


Why might you use a set instead of a list in Python?

Some cases where sets can be used instead of a lists are
**bold text**
* In sets duplicates are not allowed

* In sets various operations can be done faster and in lists they are slower because in sets the number of time a element can come is only one but in lists it can be more

* Sets support multiple operations like union , intersection and other set operations

What is a string in Python, and how is it different from a list
Strings are a data tyoe in python in which stores series of characters.They store characters in single quotes(''),Double quotes(" "),Triple quotes(''' ''')

Strings are immutable data type just like tuples

where as lists are mutable data types.

In lists data is given in square brackets and can store multiple elements

 In string data is stored in differnt quotes single ,double and triple quotes

How do tuples ensure data integrity in Python

Tuples Ensure interfrity by not allowing or modifying the data inside it .
Tuple is immutable data structure so doing changes is not possible as in list or other data structure

What is a hash table, and how does it relate to dictionaries in Python

A Hash function is a data structure in python in which the data is stored in key , values pair.It use hash function in order to map to the value

when we call a key it transfer to hash function after that it connects to the index and returns the value that is been on that index

Can lists contain different data types in Python

Yes ,Lists can store different data structure it can store Integer,Float,String,List and other inside a list.

Explain why strings are immutable in Python

Strings are immutable because they have multiple use case and if they are mutable code will run inefficiently
for eg

Memory Efficiency

* In python strings are reused to save memory

Hahtables and dictionary

* strings are generally used in dictionaries and hashtables
if the string change key will be change and hash value will be change which is not possible in python

Secuirity and data integrity

* Stringgs generally gather useful data which should not be changed and maintained carefully

What advantages do dictionaries offer over lists for certain tasks

Faster

In Dictionary searching of a name is faster weather in lists it takes time to search a name because in dictionary it will
return the name as soon as it find s the name but in lists it will check till last if same name come at other index as well.

Key Value pair

In list we can assign the values in key and pair so that when we want to retrieve values we can get them easily while in lists

Better Readability

Dictionary are better readable for the humans while the  lists are not as lists contain the menaing or we can say it contains the things with their realtion number which is value.

No need to remember Indexes

In lists we do  need to remember Indexes and in dictionaries we need not to

Flexibility with data structure

Dictionaries are  flexible with data structure we can add any data structure with the key values and in lists we can not do because of that we can only asssign index as integer.

 Describe a scenario where using a tuple would be preferable over a list

Tuples can be used in scenerios where the items are fixed and need not to be changed daily.
They can be also used in a secured and confidential things where we have to keep things strictly authenticated.
For eg if we want to make a calendar there must be seven days in a week they should remain seven only on any condition that is not going to change so we do it in a tuple rather than list .

How do sets handle duplicate values in Python3

In sets when the duplicates values come it ignores them and
does not resspond in the error format.And when you print set the data comes only with unique values

P How does the “in” keyword work differently for lists and dictionaries

When (in) comes in a list it checks weather the element is in the list or not and returns true or false based on that but when (in) comes in a dictionary it checks whether the key is

Can you modify the elements of a tuple? Explain why or why notP

No,We cannot modify the elements in a tuple because tuple is a
immutable data type but if a tuple contains a list we can modify that list

What is a nested dictionary, and give an example of its use case3
Nested dictionary are the dictionary which holds the dictionary inside other dictionary .It is used to store the hierarichical data
Its use case is when we used to store rollno.,name key in a student list which is a key of class list

Describe the time complexity of accessing elements in a dictionaryP

Time complexity of accessing elements in a dictionary is O(1) generally

D5P In what situations are lists preferred over dictionaries3
D9P Why are dictionaries considered unordered, and how does that affect data retrieval3
/ P Explain the difference between a list and a dictionary in terms of data retrieval

In what situations are lists preferred over dictionaries

Order Sequencing

In lists numbers can be given order sequencing and can print the numbers by giving their index.

Duplicate Value

In lists we can have the duplicate variables store but in dictionaries we cannot do that

Sorting and Sequencing

We can easily insert data in list and can easily sequence it.

Why are dictionaries considered unordered, and how does that affect data retrieval

Dictionaries are considered inordered they are stored on the hash values not on the insertion sequence.
The effect of this on data retrieval is this in dictionary we have to give the ke

Explain the difference between a list and a dictionary in terms of data retrieval

List (data retrieval)

Retrieval is by index (position).

Index is always an integer starting from 0.

---
Dictionary (data retrieval)

Retrieval is by key, not by position.

Keys can be strings, numbers, or other immutable types.

In [ ]:
#1Write a code to create a string with your name and print itP

Name = "Jatin Jain"
print(Name)

Jatin Jain

In [ ]:
#2Write a code to find the length of the string "Hello World"
string1="Hello world"
print(len(string1))

11

In [ ]:
#3Write a code to slice the first 3 characters from the string "Python Programming"
string1="pythpn programming"
print(string1[0:3])

pyt

In [ ]:
#4Write a code to convert the string "hello" to uppercase
string1="hello"
print(string1.upper())

HELLO

In [ ]:
#5Write a code to replace the word "apple" with "orange" in the string "I like apple"
string1="I like apple"
string1.replace("apple", "Orange")

'I like Orange'

In [ ]:
#6Write a code to create a list with numbers 1 to 5 and print it
List1=[1,2,3,4,5]
print(List1)

[1, 2, 3, 4, 5]

In [ ]:
#7Write a code to append the number 10 to the list [1, 2, 3, 4]

List2 = [1,2,3,4]
List2.append(10)
List2

[1, 2, 3, 4, 10]

In [ ]:
#8Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
List2=[1,2,3,4,5]
List2.remove(3)
List2

[1, 2, 4]

In [ ]:
#9Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list=["a","b","c","d"]

print(list[1])

b

In [ ]:
#10Write a code to access the second element in the list
list = [10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [ ]:
#11Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1=(100,200,300)
tuple1

(100, 200, 300)

In [ ]:

#12Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple1=("red","green","blue","yellow")
print(tuple1[1:4])

('blue', 'green', 'yellow')

In [ ]:

#13Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple = (10,20,5,15)
min(tuple)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ("cat","dog","rabbit")
animals.index("cat")

0

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'mango')

# check if 'kiwi' is in the tuple
if 'kiwi' in fruits:
   print("kiwi present the set")
else:
   print("kiwi Not present the set")

kiwi Not present the set

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.


s = {1,2,3}
type(s)

set

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.


s = {1,2,3,4,5}
s.clear()
s

set()

In [ ]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
from typing import Union
s1={1,2,3}
s2={4,5}
print(s1 | s2)

{1, 2, 3, 4, 5}

In [ ]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1,2,3}
s2 = {3,4,5}
print(s1 & s2)

{2, 3}

In [ ]:
#20->
dictionary1 = {
    "Name":"Jatin Jain",
    "Age"  : "20"
}
dictionary1

{'Name': 'Jatin Jain', 'Age': '20'}

In [ ]:
#21:->Write a code to create a set with the elements 'a', 'b', 'c' and print it.

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
dictionary1 = {
    "Name":"john",
    "Age"  : "25"
}
dictionary1["country"]= "USA"
dictionary1

{'Name': 'john', 'Age': '25', 'country': 'USA'}

In [ ]:
#22->22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dictionary1 = {
    "Name":"Alice",
    "Age"  : "30"
}
print(dictionary1["Name"])

Alice

In [ ]:
#23:->
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.


    "Name":"Bob",
    "Age"  : "22",
    "city" : "New york"
}
dictionary1.pop("Age")
dictionary1

{'Name': 'Bob', 'city': 'New york'}

In [ ]:
#24:->Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary1 = {
    "Name":"Alice",
    "City"  : "Paris"
}
if "City" in dictionary1:
  print("city is present")
else:
  print("city is not present")

city is present

In [ ]:
#26:-:>Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4]
tuple = (5,6,7,8)
set1 = {
    1,2,3,4
}
dictionary1 = {
    "Name":"Jatin Jain",
    "Age"  : "20"
}
print((list))
print((tuple))
print((set1))
print((dictionary1))

[1, 2, 3, 4]
(5, 6, 7, 8)
{1, 2, 3, 4}
{'Name': 'Jatin Jain', 'Age': '20'}

In [ ]:
#27:->Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)


list1=[23,27,15,37,99]
#sort a list
list1.sort()
list1

[15, 23, 27, 37, 99]

In [ ]:
#28-:Write a code to combine two dictionaries into one and print the result
list = ["baingan","allu","ghobi","mulli"]
print(list[3])

mulli

In [ ]:

#29-:>Write a code to combine two dictionaries into one and print the result
dictionary1 = {
    "Name":"Alice",
    "City"  : "Paris"
}
dictionary2 = {
    "Name":"Bob",
    "Age"  : "22",
    "city" : "New york"
}
dictionary1.update(dictionary2)
print(dictionary1)

{'Name': 'Bob', 'City': 'Paris', 'Age': '22', 'city': 'New york'}

In [ ]:
#30-> Write a code to convert a list of strings into a set.
fruits = ["apple","banana","kiwi"]
fruits_set = set(fruits)
print(fruits_set)

{'apple', 'kiwi', 'banana'}

DP What are data structures, and why are they important3
/P  Explain the difference between mutable and immutable data types with examplesP
+P What are the main differences between lists and tuples in Python3
*P Describe how dictionaries store dataP
(P Why might you use a set instead of a list in Python3
)P What is a string in Python, and how is it different from a list3
'P How do tuples ensure data integrity in Python3
5P What is a hash table, and how does it relate to dictionaries in Python3
9P Can lists contain different data types in Python3
D P Explain why strings are immutable in PythonP
DDP What advantages do dictionaries offer over lists for certain tasks3
D/P Describe a scenario where using a tuple would be preferable over a listP
D+P How do sets handle duplicate values in Python3
D*P How does the “in” keyword work differently for lists and dictionaries3